always-auth=true
registry=https://appfolio.jfrog.io/artifactory/api/npm/appfolio-ae_page_objects-npm/
//appfolio.jfrog.io/artifactory/api/npm/appfolio-ae_page_objects-npm/:_authToken=${JFROG_ACCESS_TOKEN}
