language: ruby

addons:
  firefox: "23.0"

sudo: false

bundler_args: ''

# for the rails 2.3 test app.
before_install:
  - ruby -e "exit(RUBY_VERSION.to_f >= 2.0)" || gem update --system 1.8.25
  - gem --version

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bundle exec rake test:ci:install

script: "bundle exec rake test:ci"

### Build Matrix

max_ruby_version: &max_ruby 2.2.5

rvm:
  - 1.8.7
  - 1.9.3
  - *max_ruby
  - ruby-head

global:
  gemfile:
    - Gemfile

# Run unit tests across all Ruby versions
env:
  - UNITS=true

matrix:
  allow_failures:
    - rvm: ruby-head

  # Integration tests
  include:
    - env: RAILS_VERSION=2.3
      rvm: 1.9.3

    - env: RAILS_VERSION=3.0
      rvm: 1.9.3

    - env: RAILS_VERSION=3.1
      rvm: 1.9.3

    - env: RAILS_VERSION=3.2
      rvm: *max_ruby

    - env: RAILS_VERSION=4.0
      rvm: *max_ruby

    - env: RAILS_VERSION=4.1
      rvm: *max_ruby

    - env: RAILS_VERSION=4.2
      rvm: *max_ruby
