language: ruby

addons:
  firefox: "23.0"

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - 2.2.0
  - ruby-head

sudo: false

matrix:
  allow_failures:
    - rvm: ruby-head

gemfile:
  - Gemfile

bundler_args: ''

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bundle exec rake test:ci:install

script: "bundle exec rake test:ci"

# Without the below, Travis runs 3 builds, that take about 14 mins elapsed time and 22 mins worker time:
#https://travis-ci.org/appfolio/ae_page_objects/builds/17328803
#
# With the below you get a build that takes about 15 mins elapsed time and 46.5 mins worker time:
#https://travis-ci.org/appfolio/ae_page_objects/builds/17328226
#
# It might be worth trying targetting the Appraisal gemfiles directly...
#
# - "The Below" -
#
## For all the integration tests
env:
  - RAILS_VERSION=3.0
  - RAILS_VERSION=3.1
  - RAILS_VERSION=3.2
  - RAILS_VERSION=4.0
  - RAILS_VERSION=4.1
  - RAILS_VERSION=4.2
  - UNITS=true

matrix:
  exclude:
    - rvm: 2.0.0
      env: RAILS_VERSION=3.0
    - rvm: 2.0.0
      env: RAILS_VERSION=3.1

    - rvm: 2.1.2
      env: RAILS_VERSION=3.0
    - rvm: 2.1.2
      env: RAILS_VERSION=3.1

    - rvm: 2.2.0
      env: RAILS_VERSION=3.0
    - rvm: 2.2.0
      env: RAILS_VERSION=3.1

    - rvm: ruby-head
      env: RAILS_VERSION=3.0
    - rvm: ruby-head
      env: RAILS_VERSION=3.1
    - rvm: ruby-head
      env: RAILS_VERSION=3.2
    - rvm: ruby-head
      env: RAILS_VERSION=4.0
    - rvm: ruby-head
      env: RAILS_VERSION=4.1
    - rvm: ruby-head
      env: RAILS_VERSION=4.2
