language: ruby

addons:
  firefox: "59.0.3"

sudo: false

bundler_args: ''

before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.20.1/geckodriver-v0.20.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.20.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - gem install bundler -v 1.16.1

before_script: "bundle exec rake test:ci:install"

script: "bundle exec rake test:ci"

### Build Matrix

max_ruby_version: &max_ruby 2.7.1

rvm:
  - 2.5.8
  - 2.6.6
  - *max_ruby
  - ruby-head

global:
  gemfile:
    - Gemfile

# Run unit tests across all Ruby versions
env:
  - UNITS=true

matrix:
  allow_failures:
    - rvm: ruby-head

  # Integration tests
  include:
    - env: RAILS_VERSION=5.2
      rvm: *max_ruby

    - env: RAILS_VERSION=6.0
      rvm: *max_ruby
