language: ruby

addons:
  firefox: "23.0"

sudo: false

bundler_args: ''

before_install:
  - gem install bundler -v 1.12.3

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bundle exec rake test:ci:install

script: "bundle exec rake test:ci"

### Build Matrix

max_ruby_version: &max_ruby 2.2.5

rvm:
  - 1.9.3
  - *max_ruby
  - ruby-head

global:
  gemfile:
    - Gemfile

# Run unit tests across all Ruby versions
env:
  - UNITS=true

matrix:
  allow_failures:
    - rvm: ruby-head

  # Integration tests
  include:
    - env: RAILS_VERSION=3.0
      rvm: 1.9.3

    - env: RAILS_VERSION=3.1
      rvm: 1.9.3

    - env: RAILS_VERSION=3.2
      rvm: *max_ruby

    - env: RAILS_VERSION=4.0
      rvm: *max_ruby

    - env: RAILS_VERSION=4.1
      rvm: *max_ruby

    - env: RAILS_VERSION=4.2
      rvm: *max_ruby

    - env: RAILS_VERSION=5.0
      rvm: *max_ruby

