language: ruby

addons:
  firefox: "23.0"

rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - 2.2.0
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

gemfile:
  - Gemfile

bundler_args: ''

# for the rails 2.3 test app.
before_install:
  - ruby -e "exit(RUBY_VERSION.to_f >= 2.0)" || gem update --system 1.8.25
  - gem --version

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bundle exec rake test:ci:install

script: "bundle exec rake test:ci"

# Without the below, Travis runs 3 builds, that take about 14 mins elapsed time and 22 mins worker time:
#https://travis-ci.org/appfolio/ae_page_objects/builds/17328803
#
# With the below you get a build that takes about 15 mins elapsed time and 46.5 mins worker time:
#https://travis-ci.org/appfolio/ae_page_objects/builds/17328226
#
# It might be worth trying targetting the Appraisal gemfiles directly...
#
# - "The Below" -
#
## For all the integration tests
#env:
#  matrix:
#    - RAILS_VERSION=2.3
#    - RAILS_VERSION=3.0
#    - RAILS_VERSION=3.1
#    - RAILS_VERSION=3.2
#    - RAILS_VERSION=4.0
#    - UNITS=true
#
#matrix:
#  exclude:
#    - rvm: 2.0.0
#      gemfile: Gemfile
#      env: RAILS_VERSION=2.3
#    - rvm: 2.0.0
#      gemfile: Gemfile
#      env: RAILS_VERSION=3.0
#    - rvm: 2.0.0
#      gemfile: Gemfile
#      env: RAILS_VERSION=3.1
