version: 2.1

orbs:
  gem-tool: appfolio/gem-tool@volatile

commands:
  install_dependencies:
    steps:
      - run:
          name: Update Package Lists
          command: sudo apt-get update
      - run:
          name: Install wget libgtk-3-dev libxt-dev libdbus-glib-1-2
          command: sudo apt-get install wget libgtk-3-dev libxt-dev libdbus-glib-1-2
      - restore_cache:
          # need to update cache key when you bump version of geckodriver and firefox
          key: v1-geckodriver-0.33.0-firefox-119.0
      - run:
          name: Install geckodriver
          command: |
            if [ -d "local_bin" ]; then exit; fi
            mkdir local_bin
            wget https://github.com/mozilla/geckodriver/releases/download/v0.33.0/geckodriver-v0.33.0-linux64.tar.gz
            tar -zxvf geckodriver-v0.33.0-linux64.tar.gz
            sudo mv geckodriver local_bin
            rm -rf geckodriver-v0.33.0-linux64.tar.gz
      - run:
          name: Install firefox
          command: |
            if [ -d "firefox" ]; then exit; fi
            wget https://ftp.mozilla.org/pub/firefox/releases/119.0/linux-x86_64/en-US/firefox-119.0.tar.bz2
            tar xvjf firefox-119.0.tar.bz2
            sudo mv firefox /usr/local/firefox
            sudo ln -s /usr/local/firefox/firefox /usr/bin/firefox
            firefox -v
            rm -rf firefox-119.0.tar.bz2
      - save_cache:
          # need to update cache key when you bump version of geckodriver and firefox
          key: v1-geckodriver-0.33.0-firefox-119.0
          paths:
            - ./local_bin
            - ./firefox
      - run:
          name: set PATH to include geckodriver and firefox
          command: echo 'export PATH=$HOME/project/firefox:$HOME/project/local_bin:$PATH' >> $BASH_ENV

workflows:
  rc:
    jobs:
      - gem-tool/rake_test:
          name: test_ruby-<< matrix.ruby_version >>_rails_72
          context: appfolio_test_context
          executor_tag: ruby
          matrix:
            parameters:
              ruby_version:
                - '3.4.1'
                - '3.3.6'
                - '3.2.5'
          after-checkout-steps:
            - install_dependencies
          after-appraisal-install-steps:
            - run:
                name: Install CI Dependencies
                command: RAILS_VERSION=7.2 UNITS=true bundle exec rake test:ci:install
            - run:
                name: Run CI Tests
                command: RAILS_VERSION=7.2 UNITS=true bundle exec rake test:ci
      - gem-tool/rake_test:
          name: test_ruby-<< matrix.ruby_version >>_rails_80
          context: appfolio_test_context
          executor_tag: ruby
          matrix:
            parameters:
              ruby_version:
                - '3.4.1'
                - '3.3.6'
                - '3.2.5'
          after-checkout-steps:
            - install_dependencies
          after-appraisal-install-steps:
            - run:
                name: Install CI Dependencies
                command: RAILS_VERSION=8.0 UNITS=true bundle exec rake test:ci:install
            - run:
                name: Run CI Tests
                command: RAILS_VERSION=8.0 UNITS=true bundle exec rake test:ci
      - gem-tool/rake_test:
          name: test_ruby-<< matrix.ruby_version >>_rails_81
          context: appfolio_test_context
          executor_tag: ruby
          matrix:
            parameters:
              ruby_version:
                - '3.4.1'
                - '3.3.6'
                - '3.2.5'
          after-checkout-steps:
            - install_dependencies
          after-appraisal-install-steps:
            - run:
                name: Install CI Dependencies
                command: RAILS_VERSION=8.1 UNITS=true bundle exec rake test:ci:install
            - run:
                name: Run CI Tests
                command: RAILS_VERSION=8.1 UNITS=true bundle exec rake test:ci
