<h1>Listing indices</h1>

<table>
  <tr>
  </tr>

<% @indices.each do |index| %>
  <tr>
    <td><%= link_to 'Show', index %></td>
    <td><%= link_to 'Edit', edit_index_path(index) %></td>
    <td><%= link_to 'Destroy', index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New index', new_index_path %>